body {
    margin: 10px;
    border: 1px #dddddd solid;
    border-radius: 1em;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica;
    drop-shadow(30px 10px 4px #4444dd);
    color: maroon;
}
code{
    white-space: pre-wrap;
    font-family: Fixed;
    background-color: peachpuff;
    padding: 4px;
    border-radius: 4px;
}

span.smallcaps{
    font-variant: small-caps;
}

span.underline{
    text-decoration: underline;
}

div.column{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
